body,html{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}
a ,a:hover{
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li > a{
    display: block;
}
img {
    max-width: 100%;
}