/*Fixes and responsive */
body {
    --min-width-half: 380px;;
    --min-width-third: 250px;
}
/* slider section */

.slider__inner > * {
    min-width: auto;
}
.slider__inner .slider__titles {
    flex: .7;
    font-size: 15px;
}

/*about center  section*/
.about__center > * {
    flex: .7;
    min-width: auto;
}

/* Services Section */


/* best Services section */



/* footer section */
.footer_inner .footer__widget {
    max-width: 25%;
    min-width: auto;
}




/*breakpoint 770px */
@media screen and (max-width:769px){
    /* slider section */
    .slider__inner > * {
        min-width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    /* about center section */
    .about__center > * {
        flex: 1;
        min-width: 100%;
        margin-bottom: 20px;
    }
    .about__center > * > .inner {
        padding: 0!important;
    }
    /* Services Section */
    .services__section .section__body .inner{
        justify-content: space-between;
    }
    /* Best Services Section*/
    .bst_services__section .service_inner {
        min-height: 260px;
    }
}


/*breakpoint 1025px */
@media screen and (max-width:1024px){
    /*Slider section */
    .slider__inner .slider__titles {
        flex: 1; 
    }
    /*footer section */
    .footer_inner .footer__widget{
        font-size: 0.9rem;
    }
}

/*breakpoint 962px */
@media screen and (max-width:962px){
    /*best services section */
    .bst_services__section .service_item {
        max-width: 50%;
    }
    /* pro carrer section */
    .pro__carrer_section .inner > div {
        min-width: 100%;
    }
    /* footer section */
    .footer_inner .footer__widget{
        font-size: 0.9rem;
        min-width: 50%;
    }
    
}


/*breakpoint 660px */
@media screen and (max-width:660px){
    /*best services section */
    .bst_services__section .service_item {
        max-width: 100%;
    }
}