/*Fixes and responsive */
body {
    --min-width-half: 380px;;
    --min-width-third: 250px;
}
/* slider section */

.slider__inner > * {
    min-width: auto;
}
.slider__inner .slider__titles {
    flex: .7;
    font-size: 15px;
}

/*about center  section*/
.about__center > * {
    flex: .7;
    min-width: auto;
}

/*  About us section */
.about__us .section__body > .inner {

}

/* Services Section */


/* best Services section */

/* Best Service Apadtation */
/* .bst_services__section .section__body .inner {

    margin: 0px 20px;
}

.bst_services__section .service_item {
    max-width: calc(30%);
    flex: 1;
    margin: 0px 20px;
} */


/*Parallex section*/



/* footer section */
.footer_inner .footer__widget {
    max-width: 25%;
    min-width: auto;
}




/*breakpoint 512px */
@media screen and (max-width:511px){
    /* Parallex Section */
    .parallex_section {
        min-height: 260px;
        padding: 40px 10px;
    }

}



/*breakpoint 770px */
@media screen and (max-width:769px){
    /* slider section */
    .slider__inner > * {
        min-width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    /* about center section */
    .about__center > * {
        flex: 1;
        min-width: 100%;
        margin-bottom: 20px;
    }
    .about__center > * > .inner {
        padding: 0!important;
    }
    /* About us section */
    .about__us  .contact_info .box {
        max-width: 100%!important;
    }
    .about__us .about__slider .inner {
        padding: 0;
    }
    .about__slider .image__selecter .image_link {
        height: auto;
    }
    .about__us .about___texts .inner {
        padding: 10px 0;
    }
    /* Services Section */
    .services__section .section__body .inner{
        justify-content: center;
    }
    .services__section .service__item {
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        border: 1px solid rgb(0 0 0 / 12%);
        margin-bottom: 20px;
    }
    
    /* Best Services Section*/
    /* .bst_services__section .service_inner {
        min-height: 260px;
    }
    .bst_services__section .service_item {
        min-width: auto;
    } */
}


/*breakpoint 1025px */
@media screen and (max-width:1024px){
    /*Slider section */
    .slider__inner .slider__titles {
        flex: 1; 
    }
    /*footer section */
    .footer_inner .footer__widget{
        font-size: 0.9rem;
    }
}

/*breakpoint 962px */
@media screen and (max-width:962px){
    /* about us section */
    .about__us .section__body > .inner > * {
        min-width: 100%;
    }    
    .about__us .section__body .inner > .contact_info {
        flex: auto;
    }
    .about__us  .contact_info .box {
        display: inline-block;
        margin: 20px;
    }
    .about__us  .contact_info .aboutus__services.box {
        max-width: 35%;
    }
    .about__us  .contact_info .aboutus__contact.box  {
        max-width: 50%;
    }
    
    /*best services section */
    /* .bst_services__section .service_item {
        max-width: 50%;
    } */

    /* Parallex Section */
    .parallex_section {
        min-height: 320px;
    }
    /* pro carrer section */
    .pro__carrer_section .inner > div {
        min-width: 100%;
    }
    /* footer section */
    .footer_inner .footer__widget{
        font-size: 0.9rem;
        min-width: 50%;
    }
    
}


/*breakpoint 660px */
@media screen and (max-width:660px){
    /*best services section */
    .bst_services__section .service_item {
        max-width: 100%;
    }
}