/*Fixes and responsive */


/* Header */

@media (max-width:1086px){
    .header__widgets > * {
        display: inline-block;
        margin: 0 10px;
    }
    .info__item .icon i {
        font-size: 32px;
    }        
    .info__item .text {
        font-size: 13px;
    }
    button.make_appoint.button {
        padding: 10px;
    }
}



/* slider section */

.slider__inner > * {
    min-width: auto;
}
.slider__inner .slider__titles {
    flex: .7;
    font-size: 15px;
}

/*about center  section*/
.about__center > * {
    flex: .7;
    min-width: auto;
}

/*  About us section */


/* Services Section */


/* best Services section */

/* Best Service Apadtation */




/*Parallex section*/



/* footer section */
.footer_inner .footer__widget {
    max-width: 25%;
    min-width: auto;
}




/*breakpoint 512px */
@media screen and (max-width:511px){
    /* Parallex Section */
    .parallex_section {
        min-height: 260px;
        padding: 40px 10px;
    }

}



/*breakpoint 770px */
@media screen and (max-width:769px){
    /* slider section */
    .slider__inner > * {
        min-width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    /* about center section */
    .about__center > * {
        flex: 1;
        min-width: 100%;
        margin-bottom: 20px;
    }
    .about__center > * > .inner {
        padding: 0!important;
    }
    /* About us section */
    .about__us  .contact_info .box {
        max-width: 100%!important;
    }
    .about__us .about__slider .inner {
        padding: 0;
    }
    .about__slider .image__selecter .image_link {
        height: auto;
    }
    .about__us .about___texts .inner {
        padding: 10px 0;
    }
    /* Services Section */
    .services__section .section__body .inner{
        justify-content: center;
    }
    .services__section .service__item {
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        border: 1px solid rgb(0 0 0 / 12%);
        margin-bottom: 20px;
    }
    
    /* Best Services Section*/
    
    .bst_services__section .section__body .inner {
        text-align: center;
    }
    .bst_services__section .service_item {
        width: 90%!important;
        /* max-width: 100%!important; */
        float: none!important;
    } 
    .bst_services__section .service_item .service_inner {
        min-height: auto;
    }

    /* contact page */
    .contact_section .section__body {
        display: block;
    }

    /*service page */
    .caption_picture {
        display: block;
    }
    .caption_picture > * {
        display: block;
    }
    .caption_picture > img {
        width: 100%;
        margin-bottom: 20px;
        height: 200px;
        -o-object-fit: contain;
           object-fit: contain;
    }
    .service_infos_card_holder {
        left: 0;
    }
}


/*breakpoint 1025px */
@media screen and (max-width:1024px){
    /*Slider section */
    .slider__inner .slider__titles {
        flex: 1; 
    }
    /*Best Services */
    .bst_services__section .section__body .inner {
        overflow: hidden;
    }
    .bst_services__section .service_item {
        width: 50%;
        max-width: 390px;
        float: left;
        box-sizing: border-box;
    } 
    /*footer section */
    .footer_inner .footer__widget{
        font-size: 0.9rem;
    }
    /* service page best service */
    .service_page .bst_services__section_outer .inner{
        display: block;
    }
    .bst_services__section .service_item{
        float: none;
    }
}

/*breakpoint 962px */
@media screen and (max-width:962px){
    /**/
    .page{
        overflow: hidden;
    }
    /* Main Navigation */
    .header_bar {
        padding: 0;
    }
    .header_bar .branding .header__widgets {
        flex: 0 0 100%;
    }
    .header_bar .branding label{
        display:block;
        position: absolute;
        right: 15px;
        top: 25%;
        font-size: 38px;
    }   
    .header_bar .branding .header_heading {
        padding: 30px 10px;
    }
    .header_bar .branding{
       min-height: auto;
       background: #e6e6e6;
       box-shadow: var(--slide-shadow);
       flex-wrap: wrap;
        position: relative;
    }
    .header_bar .branding .make_appoint.button {
        font-size: 12px;
    }
    .header_bar .branding .hideOnMobile {
        display: none;
    }

    .header_bar .branding .header__logo a {
        display: block;
        padding: 15px;
    }
    .header_bar .branding .header__logo a img {
        display: block;
    }

    .navigation.show label {
        display: block;
        padding: 10px;
        text-align: right;
        font-size: 30px;
        position: fixed;
        color: var(--text-color-w);
        z-index: 100;
        right: 15px;
    }
    .header_bar .navigation {
        padding-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: var(--dark-primary-color);
        z-index: 150;
        overflow-x:auto;
        transform: translateX(100%);
        transition: var(--trans-1);
    }
    .header_bar .navigation.show {
        transform: translateX(0);
    }
    .navigation .primary-menu{
        display: block;
    }
    .navigation .menu-drop .mega_menu_image {
        height: auto;
    }
    .navigation .primary-menu .menu-item .menu-drop {
        position: relative;
        z-index: auto;
        opacity: 1;
        top: 0;
        display: none;
    }
    .navigation .primary-menu .menu-item.show-drop .menu-drop {
        display: block;
    }
    .navigation .menu-drop .mega_menu_list {
        display: block;
    }
    .navigation .primary-menu .menu-item.show-drop .menu-drop {
        display: block;
    }
    .navigation .primary-menu .menu-item.drop_menu_style .sub_drop_menu ul {
        display: none;
        position: relative;
        left: 0;
    }
    .navigation .primary-menu .menu-item.drop_menu_style .sub_drop_menu.show-drop ul {
        display: block;
    }

    /* about us section */
    .about__us .section__body > .inner {
        min-width: 100%;
        display: block;
    }    
    .about__us .section__body .inner > .contact_info {
        flex: auto;
    }
    .about__us .section__body .inner > .contact_info {
        min-width: auto;
    }
    .about__us  .contact_info .box {
        display: inline-block;
        margin: 0px;
        box-sizing: border-box;
        margin-bottom: 10px;
        min-width: auto;
    }
    .about__us  .contact_info .aboutus__services.box {
        max-width: 35%;
    }
    .about__us  .contact_info .aboutus__contact.box  {
        max-width: 50%;
    }
    
    /*best services section */
    /* .bst_services__section .service_item {
        max-width: 50%;
    } */

    /* Parallex Section */
    .parallex_section {
        min-height: 320px;
    }
    /* pro carrer section */
    .pro__carrer_section .inner > div {
        min-width: 100%;
    }
    /* footer section */
    .footer_inner .footer__widget{
        font-size: 0.9rem;
        min-width: 50%;
    }

    /* contact page */
    .contact_section .section__body > * {
        margin: 0px;
    }
    /*service page */
    .service_main_inner .service_content {
        width: 100%;
        float: none;
    }
    .service_main_inner .service_sidebar {
        width: 100%;
        float: none;
    }
    
}


/*breakpoint 660px */
@media screen and (max-width:660px){
    /*Main Navigation */
    .header_bar .branding .header__logo a {
        padding: 10px;
    }
    .header_bar .branding .make_appoint.button {
        width: 160px;
    }
    /*best services section */
    .bst_services__section .service_item {
        max-width: 100%;
    }
    /**/
    .service_page .service_header {
        --section-height: 275px;
    }
}
/*todo -500px*/

/*breakpoint 500px */
@media screen and (max-width:500px){
    /*Global */
    .container {
        padding-right: 10px!important;
        padding-left: 10px!important;
    }
    /*Header Section*/
    .header_bar.container{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .header_bar .header__widgets label {
        font-size: 18px;
    }
    .header_bar .branding > *{
        margin-top: 0;
    }
    .header__widgets{
        display: flex;
        flex-wrap: nowrap;
    }
    .header_bar .branding .make_appoint.button{
        font-size: 10px;
        padding: 5px;
    }
    /* About Us Section */
    .aboutus__contact .contact__list .item{
        font-size: 12px;
        padding: 4px;
    }
    /*Best Services Section */
    .section__inner .service__img{
        height: 130px;
    }
    .section__inner .service__text {
        min-height: auto;
    }
    .section__inner .service__text p {
        font-size: 12px;
    }
    /*Pro Carrer Section*/
    .pro__carrer_section .inner > div {
        padding: 5px;
    }
    .pro__carrer_section .carrer__option {
        display: block;
    }
    .pro__carrer_section .carrer__option .icon {
        margin-bottom: 20px;
    }
    .pro__carrer_section .carrer__text{
        margin-left: 5px;
    }

    /* footer section */
    .footer__contact .contact__list .item > * {
        font-size: 14px;
    }

    /**/
    .service_page .service_header {
        --section-height: 195px;
    }
    .service_feature .service_name h2{
        font-size: 28px;
    }
    .service_infos_card_holder {
        height: 195px;
    }
    .service_infos_card_holder .service_infos_card {
        padding: 6px;
    }
    .service_page .service_infos_card .service_name{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .service_page .service_infos_card .service_desc p {
        font-size: 12px;
    }
}
@media screen and (max-width:450px){
    .header_bar .header__widgets .header_heading h2 {
        font-size: 20px;
        font-weight:500;
    }
    .footer_inner {
        display: block;
    }
    .footer_inner .footer__widget {
        max-width: 100%;
    }
}