/* Imports */
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

:root {
    --primary-color:#eb3b5a;
    --dark-primary-color:#be2441;
    --light-color: #ff879c;
    --text-color:#dadada;
    --text-color-w:#fff;
    --text-color-wg:#fbfbfb;
    --shadow-1: 0px 0px 2px 0px rgb(0 0 0 / 45%);
    --shadow-1-hover: 0px 0px 2px 0px rgb(0 0 0 / 45%);
    --slide-shadow:0px 0px 12px 1px rgb(0 0 0 / 38%);
    --trans-1 : .1s all ease-in-out;
    --service-card-shadow:0px 0px 8px 0px rgb(0 0 0 / 25%);
}

/*Global Elements start */
.button{
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    transition: var(--trans-1);
}
.section .section__inner{
    padding: 25px 0 ;
}
.section .section__header {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 30px 0;
    max-width: fit-content;
    text-transform: capitalize;
}
.section .section__header h2 {
    text-transform: uppercase;
    font-size: 1.7rem;
    padding-bottom: 12px;
    color: var(--dark-primary-color);
    position: relative;
}
.section .section__header h2::after{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    height: 5px;
    background-color: var(--primary-color);
}
/* .section .section__body .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */



/*Global Elements end */

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding: 0 50px;
    max-width: calc(1250px - 100px);
    margin: 0 auto;
}
.fluid-container {
    /* padding: 0 50px; */
    /* max-width: calc(1250px - 100px); */
    /* margin: 0 auto;  */
    width: 100%;
}
.page {
    width: 100%;
}
.header_bar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.header_bar .branding {
    min-height: 140px;
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header_bar .branding > * {
    margin-top: 10px;
}
.header_bar .header__logo {
    max-width: 190px;
}
.branding .hidden-data {
    display: none;
}

/*Header Widgets */
.header__widgets {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header__widgets > * {
    margin: 0 20px;
}
.header__socials a {
    display: inline-block;
}
.header__socials a img{
    height: 24px;
    width: 24px;
    padding: 8px 5px 8px 5px;
    transition: var(--trans-1);
}
.header__socials a:hover img {
    box-shadow: var(--shadow-1);    
}
/* .header__actions .make_appoint {
} */
.header__actions .make_appoint:hover{
    background: var(--dark-primary-color);
    box-shadow: var(--shadow-1-hover);
}
/*header info contact items*/
.header__info .info__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.info__item .text {
    display: flex;
    flex-direction: column;
}
.info__item .icon i {
    font-size: 40px;
    color: var(--light-color);
}
.info__item .text {
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
}
.info__item .text span:first-child {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 2px;
}
.info__item .text span a {
    color: var(--dark-primary-color);
    transition: var(--trans-1);
}
.info__item .text span a:hover {
    color: var(--light-color);
}
/* Navigation Styles  :: primary main menu*/
.header_bar .navigation {
    padding-top: 1px;
    position: relative;
}
/* .header_bar .navigation::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    padding: 0 1000px;
    margin-left:-1000px ;
    background-color:#ededed ;
} */
.navigation .primary-menu {
    text-align: center;
    background: var(--dark-primary-color);
    display: flex;
}
.navigation .primary-menu .menu-item {
    flex-grow: 1;
}
.navigation .primary-menu .menu-item a {
    padding: 15px;
    color: var(--text-color);
    font-weight: 400;
    transition: var(--trans-1);
    border-top: 3px solid transparent;
}
.navigation .primary-menu .menu-item.active a {
    border-top: 3px solid var(--light-color);
}
.navigation .primary-menu .menu-item a:hover{
    background-color: var(--primary-color);
}
/*End Header*/

/* Main Slider */
.main__slider  .slider__inner{
    position: relative;
    z-index: 1;
    clear: both;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.slider__inner > * {
    flex: 1;
    min-width: 380px;
}
.slider__inner .slider__titles {
    flex: 0.7;
    padding-right: 25px;
}
.slider__titles>* {
    margin-bottom: 25px;
}
.slider__titles .title {
    padding: 25px 0;
    border-bottom: 1px solid rgba(0,0,0,1);
    max-width: fit-content;
}
.slider__titles .title h2{
    font-weight: 500;
}
.slider__titles .desc p{
    color: #1f1f1f;
    line-height: 1.5;
}
.slider__titles .services_btn{
    margin-top: 20px;
    background: transparent;
    border: 3px solid var(--dark-primary-color);
    color: var(--dark-primary-color);
    transition: var(--trans-1);
}
.slider__titles .services_btn:hover{
    margin-top: 20px;
    background: var(--primary-color);
    border: 3px solid var(--dark-primary-color);
    color: var(--text-color);
}
/*slider content */
.slider__slides {
    padding: 15px;
}
.slides__content {
    padding: 25px;
    position: relative;
    min-height: 350px;
}
.slides__content .slide{
    display: inline-block;
    background: var(--text-color-w);
    max-width: 75%;
    padding: 5px;
    box-shadow: var(--slide-shadow);
    margin: 12px;
    position: absolute;
}
.slides__content .slide.slide1{
    max-width: 30%;
    left: 0%;
    top: 10%;
    z-index: 1;
}
.slides__content .slide.slide2{
    max-width: 40%;
    left: 11%;
    top: 31%;
    z-index: 10;
}
.slides__content .slide.slide3{
    max-width: 40%;
    right: 12%;
    top: 1%;
    z-index: 10;
}
.slides__content .slide.slide4{
    max-width: 30%;
    right: 0;
    top: 45%;
}
/* About us */
.about__center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 25px; */
}
.about__center > * {
    flex: 1;
    min-width: 380px;
}
.about__center .section__text .heading h3{
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #464646;
    line-height: 1.4;
    color: var(--primary-color);
    margin-bottom: 7px;
}
.about__center .section__text .desc p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #272727;
    margin-bottom: 5px;
}
.about__center .inner {
    padding: 25px;
}
.about__center .section__text .inner {
    padding-left:0; 
}
.about__center .section__video .inner {
    padding: 30px;
    padding-right:0; 
}
.about__center .section__video .inner iframe{
    height: 300px;
    width: 100%;
} 

/* about us section */

.about__us .section__body > .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.about__us .section__body .inner > *  {
    flex: 1;
}

.about__us .section__body .inner > .contact_info  {
    flex: 0.3;
    min-width: 290px;
} 

/*about__content*/
/* about us contact sub section */






/* image slider section */
/* .active__image .image__item   */
.about__content .about__slider .inner {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__slider .active__image  {
    height: 360px;
}
.about__slider .active__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.about__slider .image__selecter {
    padding: 15px 0;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
}
.about__slider .image__selecter .image__item {
    /* display: inline-block; */
    box-sizing: border-box;
    width: 20%;
    float: left;
    padding: 5px;    
}
.about__slider .image__selecter .image_link {
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    height: 90px;
    display: block;
    transition: var(--trans-1);
    overflow: hidden;    
    cursor: pointer;
}
.about__slider .image__selecter .image_link::after {
    position: absolute;
    content: "+";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #be244085;
    opacity: 1;
    transform: translateY(100%);
    transition: var(--trans-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: #fff;
}
.about__slider .image__selecter .image_link:hover {
    box-shadow: var(--shadow-1-hover);
}
.about__slider .image__selecter .image_link:hover::after {
    transform: translateY(0);
}
.about__slider .image__selecter img {
    height: 100%;
    width: 100%;
}





/* Services Section :   */

/*maybe glob*/
.services__section .section__body .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} 
.services__section .service__item {
    min-width: 200px;
    max-width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    min-height: 210px;
    margin-bottom: 25px;
}
.service__item .service__icon {
    display: inline-block;
    font-size: 28px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    height: 70px;
    width: 70px;
    line-height: 70px;
    transition: var(--trans-1);
}
.services__section .service__item .service__icon:hover{
    color: var(--text-color-w); 
    border: 1px solid var(--dark-primary-color);
    background: var(--primary-color);
}
.service__item .service__title {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 20px;
}
.service__item .service__desc {
    font-size: 14px;
    margin-bottom: 10px;
    color: #464646;
}
.services__section .service__item.style-2 .service__icon{
    background: var(--primary-color);
    color: var(--text-color-w);
    transition: var(--trans-1);
    border: 1px solid transparent;
}
.services__section .service__item.style-2 .service__icon:hover{
    color: var(--primary-color); 
    border: 1px solid var(--primary-color);
    background: var(--text-color-w);
}

/*Best Services Section */
/*maybe glob*//*resp todo*/
.bst_services__section .section__body .inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
} 

.bst_services__section .service_item {
    max-width: calc(33.33%);
    min-width: 290px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
} 
.bst_services__section .service_inner {
    display: inline-block;
    background: var(--text-color-wg);
    padding: 0px;
    box-shadow: var(--service-card-shadow);
    transition: var(--trans-1);
    margin-top: 15px;
    min-height: 350px;
}
.bst_services__section .service_inner:hover {
    background: var(--text-color-wg);
    box-shadow: var(--slide-shadow);
    margin-top: 5px;
}
.section__inner .service__img img {
    width: 100%;
}
.section__inner .service__text {
    padding: 10px;
}
.section__inner .service__title h3 {
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1rem;
}
.section__inner .service__summary p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #1f1f1f;
}
/*services style 2 */
.bst_services__section.style-2 .service_inner {
    position: relative;
    background: transparent;
    display: flex;
    min-height: 270px;
    margin-top: 0;
}
.bst_services__section.style-2 .service_inner:hover{
    margin-top: 0;
}
.bst_services__section.style-2 .service_inner .service__img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.bst_services__section.style-2 .service_inner .service__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bst_services__section.style-2 .service_inner .service__text {
    z-index: 10;
    background: #ff6883b5;
    padding: 40px 30px;
    transition: .2s all ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bst_services__section.style-2 .service_inner .service__text .service__title h3 {
    font-size: 1.5rem;
    color: var(--text-color-w);
    margin: 15px 0;
    margin-bottom: 30px;
}
.bst_services__section.style-2 .service_inner .service__text .service__summary p {
    color: #ffffff;
    font-size: 0.9rem;
}
.bst_services__section.style-2 .service_inner .service__text:hover {
    background: var(--primary-color);

}

/*Carrer Pro SEction */
.pro__carrer_section .section__body .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pro__carrer_section .inner > div {
    flex: 1;
    padding: 25px ;
    box-sizing: border-box;
    min-width: 300px;
}
.pro__carrer_section .inner .sub_title {
    margin-bottom: 15px;
}
.pro__carrer_section .inner .sub_title h3 {
    text-transform: capitalize;
    max-width: fit-content;
    color: var(--primary-color);
}
.pro__carrer_section .carrer__option .icon {
    font-size: 32px;
    line-height: 32px;
    color: var(--primary-color);
    place-self: baseline;
}
.pro__carrer_section .carrer__option {
    display: flex;
    margin-bottom: 20px;
}
.pro__carrer_section .carrer__text {
    flex: 1;
    margin-left: 15px;
}
.pro__carrer_section .carrer__title {
    font-size: 28px;
    line-height: 32px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 8px;
}
.pro__carrer_section .carrer__title {
    font-size: 28px;
    line-height: 32px;
    color: var(--primary-color);
    text-transform: capitalize;
}
.pro__carrer_section .carrer__items li{
    font-size: 14px;
    padding: 5px 0;
    display: flex;
    align-items: baseline;
    color: #272727;
}
.pro__carrer_section .carrer__items li::before{
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border:2px solid var(--dark-primary-color);
    margin-right: 10px;
}

/* pics section */
.pro__carrer_section .section__pics{
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: stretch;
    padding: 50px;
}




/*Fotter */
.footer {
    background: #272727;
    min-height: 400px;
    color: var(--text-color);
}
.footer_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_inner .footer__widget {
    max-width: 25%;
    flex: 1;
    padding: 15px;
    min-width: 225px;
    box-sizing: border-box;
}
.footer_inner .footer__widget:first-child {
    padding-left: 0;
}
.footer_inner .footer__widget:last-child {
    padding-right: 0;
}

.footer_inner .footer__widget .title{
    text-transform: capitalize;
    text-align: center;
    margin: 30px 0;
}
.footer_inner .footer_about .content p{
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.footer__links .links__list li {
    /* display: inline-block; */
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.footer__links .links__list li a {
    padding: 5px ;
    transition: var(--trans-1);
}
.footer__links .links__list li a:hover {
    /* background: #464646; */
    background: var(--dark-primary-color);
}

.footer__contact .contact__list .item > *{
    display: inline-block;
}
.footer__contact .contact__list .item {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 10px 0;
}
.footer__contact .contact__list .item .icon{ 
    padding: 8px;
    font-size: 22px;
    /* margin-right: 10px; */
    min-width: 28px;
    text-align: center;
    padding-left: 0;
    color: var(--primary-color);
}
.footer_rdv .rdv__form input,
.footer_rdv .rdv__form input::placeholder,
.footer_rdv .rdv__form textarea,
.footer_rdv .rdv__form textarea::placeholder{
    font-family: "Montserrat";
}
.footer_rdv .rdv__form input,
.footer_rdv .rdv__form textarea{
    width: 100%;
    margin-bottom: 10px;
    padding:8px 10px;
    box-sizing: border-box;
    background: #464646;
    border: 2px solid #1f1f1f;
    color: var(--text-color-wg);
} 
.footer_rdv .rdv__form button {
    width: 100%;
}