/* Imports */
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

:root {
    --primary-color:#eb3b5a;
    --dark-primary-color:#be2441;
    --light-color: #ff879c;
    --text-color:#dadada;
    --shadow-1: 0px 0px 2px 0px rgb(0 0 0 / 45%);
    --shadow-1-hover: 0px 0px 2px 0px rgb(0 0 0 / 45%);
    --trans-1 : .1s all ease-in-out;

}

/*Global Elements start */
.button{
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    transition: var(--trans-1);
}
/*Global Elements end */

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding: 0 50px;
    max-width: calc(1250px - 100px);
    margin: 0 auto;
}
.page {
    width: 100%;
}
.header_bar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.header_bar .branding {
    min-height: 140px;
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header_bar .branding > * {
    margin-top: 10px;
}
.header_bar .header__logo {
    max-width: 190px;
}
.branding .hidden-data {
    display: none;
}

/*Header Widgets */
.header__widgets {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header__widgets > * {
    margin: 0 20px;
}
.header__socials a {
    display: inline-block;
}
.header__socials a img{
    height: 24px;
    width: 24px;
    padding: 8px 5px 8px 5px;
    transition: var(--trans-1);
}
.header__socials a:hover img {
    box-shadow: var(--shadow-1);    
}
/* .header__actions .make_appoint {
} */
.header__actions .make_appoint:hover{
    background: var(--dark-primary-color);
    box-shadow: var(--shadow-1-hover);
}
/*header info contact items*/
.header__info .info__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.info__item .text {
    display: flex;
    flex-direction: column;
}
.info__item .icon i {
    font-size: 40px;
    color: var(--light-color);
}
.info__item .text {
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
}
.info__item .text span:first-child {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 2px;
}
.info__item .text span a {
    color: var(--dark-primary-color);
    transition: var(--trans-1);
}
.info__item .text span a:hover {
    color: var(--light-color);
}
/* Navigation Styles  :: primary main menu*/
.header_bar .navigation {
    padding-top: 1px;
    position: relative;
}
/* .header_bar .navigation::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    padding: 0 1000px;
    margin-left:-1000px ;
    background-color:#ededed ;
} */
.navigation .primary-menu {
    text-align: center;
    background: var(--dark-primary-color);
    display: flex;
}
.navigation .primary-menu .menu-item {
    flex-grow: 1;
}
.navigation .primary-menu .menu-item a {
    padding: 15px;
    color: var(--text-color);
    font-weight: 400;
    transition: var(--trans-1);
    border-top: 3px solid transparent;
}
.navigation .primary-menu .menu-item.active a {
    border-top: 3px solid var(--light-color);
}
.navigation .primary-menu .menu-item a:hover{
    background-color: var(--primary-color);
}
/*End Header*/

/* Main Slider */
.main__slider  .slider__inner{
    position: relative;
    z-index: 1;
    clear: both;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 300px;
}
.slider__inner > * {
    flex: 1;
}
.slider__titles>* {
    margin-bottom: 25px;
}
.slider__titles .title {
    padding: 25px 0;
    border-bottom: 1px solid rgba(0,0,0,1);
}
.slider__titles .title h2{
    font-weight: 500;
}
.slider__titles .desc p{
    color: #1f1f1f;
}
.slider__titles .services_btn{
    margin-top: 20px;
    background: transparent;
    border: 3px solid var(--dark-primary-color);
    color: var(--dark-primary-color);
    transition: var(--trans-1);
}
.slider__titles .services_btn:hover{
    margin-top: 20px;
    background: var(--primary-color);
    border: 3px solid var(--dark-primary-color);
    color: var(--text-color);
}